<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937199683335-pk1qoq4ting5penrp3q6lq4fjqt1l3k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937199683335-pk1qoq4ting5penrp3q6lq4fjqt1l3k4</string>
	<key>API_KEY</key>
	<string>AIzaSyB6LpUGXXwCGJCzlOex94qI2A1UlIrrSFI</string>
	<key>GCM_SENDER_ID</key>
	<string>937199683335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.yuta-ike</string>
	<key>PROJECT_ID</key>
	<string>kyodai-board</string>
	<key>STORAGE_BUCKET</key>
	<string>kyodai-board.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937199683335:ios:758160a27c20c4afc067a2</string>
	<key>DATABASE_URL</key>
	<string>https://kyodai-board.firebaseio.com</string>
</dict>
</plist>